



<div class="jumbotron center">
    <h1 class="display-3">Coding Noob Blog</h1>
    <p class="lead">Sharing my Journey from Coding Noob to Coding Savvy to Help you on your own Quest!</p>
    <hr class="my-2">
    
    
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
            <% firstPost = false%>
            <% n = 1%>
            <% Post.order(:created_at).reverse.each do |post| %>
            <% nokogiri_html_string = Nokogiri::HTML(post.text) %>
            <% image_tag = nokogiri_html_string.css('img').first%>
            <% image_src = image_tag.attributes['src']%>
            
            
            <% if !firstPost %>
            <div class="item active">
                <a href=<%=  post_path(post)%>>
                    <img class="carousel-image" src="<%= image_src %>" alt="">
                    <div class="carousel-caption">
                        <h3><%= post.title %></h3>
                    </div>
                </a>
            </div>
            <%  firstPost = true%>
            <% else %>
            <div class="item">
                <a href=<%=  post_path(post)%>>
                    <img class="carousel-image" src="<%= image_src %>" alt="">
                    <div class="carousel-caption">
                        <h3><%= post.title %></h3>
                    </div>
                </a>
            </div>
            <% end%>
            <% if n == 3%>
            <% break %>
            <% end %>
            <% n = n+1%>
            <% end%>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    
    
    <p class="center">Created by <a href="https://www.linkedin.com/in/brian-espinosa-611592172/">Brian Espinosa</a></p>
    <p class="lead">
        <%= link_to  "Checkout the Blog!", posts_path, class: "btn btn-lg btn-primary" %>
    </p>
</div>