<h3>Post a Comment</h3>
<div class="form-group">

    <%= form_for [@post, @comment] do |f| %>
    <%= render partial: 'comments/errors', object: @comment %>
        <div class="comment-form">
            <%= f.label :author_name, "Your Name" %> <br />
            <div class="row">
                <div class="col-lg-3">
                    <%= f.text_field :author_name, class: "form-control"%>
                </div>
            </div>
        </div>
        <div class="comment-form">
            <%= f.label :body, "Your Comment" %> <br />
            <%= f.text_area :body, class: "form-control" %>   
        </div>
        <%= f.submit 'Submit', class: "btn btn-light"%>
</div>
<% end %>