<h3>Post a Comment</h3>
<div class="form-group">

    <%= form_for [@post, @comment] do |f| %>
    <p>
        <div class="comment-form">
            <%= f.label :author_name, "Your Name" %> <br />
            <div class="row">
                <div class="col-lg-3">
                    <%= f.text_field :author_name, class: "form-control"%>
                </div>
            </div>
        </div>
    </p>
    <p>
        <div class="comment-form">
            <%= f.label :body, "Your Comment" %> <br />
            <%= f.text_area :body, class: "form-control" %>   
        </div>
    </p>
    <p>
        <%= f.submit 'Submit'%>
    </p>
</div>
<% end %>