<% if @post.errors.any? %>
  <ul>
    <%= @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :text %>
  </div>
  <div>
    <%= f.cktext_area :text, rows: 10 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>