<% provide(:title, "Blog Index") %>
<h1 class="page-header">Blog posts</h1>
<div class="post-links">
<%  @posts.order(:id).each do |post| %>
<div class="post-link">
    <% nokogiri_html_string = Nokogiri::HTML(post.text) %>
    <% image_tag = nokogiri_html_string.css('img').first%>
    <%= link_to  post_path(post) do %>
        <%= raw(image_tag) %>
    <% end%>
    <div class="post-link-caption">
        <%= post.title %>
        <span class="badge"><%= post.comments.count %></span>
        <span class="label label-default">
                <%= post.created_at.to_formatted_s :long_ordinal %>
            </span>
    </div>
</div>
        <% end %>
    </div>
        



