<% @post = Post.find(params[:id])%>
<% provide(:title, @post.title)%>
<h1 class="page-header"><%= @post.title %></h1>
<div class="container-fluid blog-post">
    <%= raw(@post.text) %>
</div>
<div class="bottom-buttons">
    <p><%= link_to  "<-- Back to Index", posts_path, class: "btn btn-primary" %></p>
</div>

<h3 class="page-header">Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments %>
<%= render partial: 'comments/form' %>
<script>
    if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)){
        const allImages = document.querySelectorAll('img');
        console.log(window.innerWidth)
        allImages.forEach(image => {
            console.log(image.width);
            if (image.width > window.innerWidth){
                console.log("IF test");
                image.width = '100%';
                image.height = "auto";
            }
        })
        const topImage = document.querySelector('img');
        console.log("test")
        topImage.style.width = '100%';
        topImage.style.height = 'auto';
    }
</script>
    
