<% @post = Post.find(params[:id])%>
<% provide(:title, @post.title)%>
<h1 class="page-header"><%= @post.title %></h1>
<div class="container-fluid blog-post">
    <%= raw(@post.text) %>
</div>
<div class="bottom-buttons">
    <p><%= link_to  "<-- Back to Index", posts_path, class: "btn btn-primary" %></p>
</div>

<h3 class="page-header">Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments %>
<%= render partial: 'comments/form' %>
<script>
    if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)){
        const allImages = document.querySelectorAll('img');
        console.log(window.innerWidth)
        allImages.forEach(image => {
            console.log(image.width);
            image.style.width = `${.5 * image.width}px`;
            image.style.height = 'auto';
            console.log(image.width);
            console.log(image.height)
        })
        const topImage = document.querySelector('img');
        console.log("test")
        topImage.style.width = '100%';
        topImage.style.height = 'auto';
    }


    const javascriptHeader = document.querySelector('.javascriptHeader');
    const text = javascriptHeader.querySelector('h1');
    text.offsetParent = javascriptHeader;
    if (javascriptHeader){
        javascriptHeader.addEventListener('mousemove',shadow);
        const walk = 200;
        const width = javascriptHeader.offsetWidth;
        const height = javascriptHeader.offsetHeight;

        function shadow(e){
            let {offsetX: x, offsetY: y} = e;
            if (this !== e.target){
                y =y + e.target.offsetTop;
            }

            const xWalk = (x / width * walk) - (walk / 2)
            const yWalk = (y / height * walk) - (walk / 2)
            text.style.textShadow = `${xWalk}px ${yWalk}px 0 blue`

            <!-- console.log(xWalk,yWalk) -->
            console.log(e.target)

        }
    }
</script>

