<title><%=  page_title(yield(:title)) %> </title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name="description" content="<%= (yield(:title)) %>">
<meta name="author" content="Brian Espinosa">
<meta name="viewport" content="width=device-width, initial-scale=1.0">